.charts h1 {
    text-align: center;
    margin-top: 60px;
}

.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart {
    text-align: center;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .chart-container {
        grid-template-columns: 1fr;
    }
}