.nav {
    background-color: gainsboro;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    text-align: center;
    /* background-color: #CC0000; */
    padding: 10px;

}

.nav-link a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.nav-link a:hover {
    color: orangered;
}