.home-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.page-title {
    margin-left: 50px;
    margin-top: 20px;
}

.good-food {
    color: orangered;
}

.page-title h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 44px;
    margin: 0;
}

.page-title p {
    color: rgb(78, 75, 75);
}

.page-title button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: orangered;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
}

.page-title button:hover {
    background-color: rgb(255, 106, 52);
    cursor: pointer;
}

.img-home img {
    /* height: 500px;
    width: 500px; */
    width: 100%;
}

.reviews {
    text-align: center;
}

.review-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.see-all-reviews {
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: orangered;
    border-radius: 8px;
    color: white;
    margin-bottom: 30px;
}

.see-all-reviews:hover {
    cursor: pointer;
    background-color: rgb(255, 106, 52);
}

@media only screen and (max-width: 600px) {
    .home-page-container {
        grid-template-columns: 1fr;
    }

    .review-container {
        grid-template-columns: repeat(1fr);
    }
}